

.login-container {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.section{
    margin-top:35px; 
}


.user_navigation_link p a{
    
    text-decoration: none; 
    color: black; 
    
}


.user_navigation_link{
    margin-top: 20px; 
}

.user_navigation_link p a:hover {
    text-decoration: underline;
    color: #ff6a00; 
}