

<div class="container justify-content-center align-content-center">
	<a class="" asp-page="" >
		<img src="~/Images/CorsoLaneLogo.png" alt="Corso Lane Logo" style="height: 60px; width: auto;" />
	</a>
</div>