@page
@model CorsoLaneWeb.Pages.AdminControllerPage.CategoryControll.AddCategoryModel
@{
}


<head>
    <link rel="stylesheet" href="~/css/AddCategoryStyling.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="~/css/IndexCategory.css" />
</head>


<body>


<h2>Add Category</h2>



<div asp-validation-summary="All">


<form method="post" >
    <div class="form-group">
        <label asp-for="NewCategory.Name">Category Name</label>
        <input asp-for="NewCategory.Name" class="form-control" />
        <span asp-validation-for="NewCategory.Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add Category</button>


</form>

</div>
</body>


@section Scripts {
    @{
        // This is for client-side validation
        <partial name="_ValidationScriptsPartial" />
    }
}