@page
@model CorsoLaneWeb.Pages.AdminControllerPage.CategoryControll.EditCategoryModel
@{
}
<div asp-validation-summary="All">


  <form action="/" method="post">
	  
  <label  asp-for=""
  
  
  
  </form>

</div>